<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, width=640, minimum-scale=0.5">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lascaux - Print high resolution maps from the web</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.simplex.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  </head>

  <body>
    <div class="container">
      <div class='col-md-10 col-md-offset-1'>

        <h1>
          Lascaux
          <small>Print high resolution maps from the web</small>
        </h1>
        <hr />
        <p>Configure your map below:</p>

        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Base map</label>
            <div class="col-sm-10">
              <div id="base_tiles_list"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="overlay_tiles" class="col-sm-2 control-label">Data source</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="overlay_tiles" placeholder="http://a.tiles.mapbox.com/v3/datamade.hnmob3j3/{z}/{x}/{y}.png">
              <p class="help-block">URL to a TileJSON source</p>
            </div>
          </div>
          <div class="form-group">
            <label for="dimensions" class="col-sm-2 control-label">Size</label>
            <div class="col-sm-3">
              <select class="form-control" id="dimensions">
                <option value='1275,1650'>Letter 8 1/2" by 11"</option>
                <option value='2550,3300'>Tabloid 11" x 17"</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="zoom" class="col-sm-2 control-label">Zoom</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" value="17" id="zoom" />
            </div>
            <p class="help-block">Higher numbers are more zoomed in</p>
          </div>
          <div class="form-group">
            <label for="center" class="col-sm-2 control-label">Map center</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="center" value="-87.62627,41.87467">
              <div id="map"></div>
            </div>
          </div>
          <div class="form-group">
            <div class='col-sm-3 col-sm-offset-2'>
              <button id="submit-download" type="submit" class="btn btn-info btn-lg">
                <i class='fa fa-download'></i>
                Download PDF
              </button>
            </div>
          </div>
        </form>

        <div class="footer">
          <p class='pull-right'>&copy; <a href='http://datamade.us'>DataMade</a> and <a href='http://lisc-chicago.org'>LISC Chicago</a> | <a href='https://github.com/datamade/lascaux'><i class='icon-github'></i> Pull requests welcome!</a></p>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="/static/js/analytics_lib.js"></script>

    <script>
      $(function() {

        // init some stuff
        var base_tile_sources = [
          {
            name: 'Open Street Map',
            url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            image: '/static/images/openstreetmap-tiles.png'
          },
          {
            name: 'Streets by MapBox',
            url: 'http://{s}.tiles.mapbox.com/v3/datamade.hnmob3j3/{z}/{x}/{y}.png',
            image: '/static/images/mapbox-streets-tiles.png'
          },
          {
            name: 'Satellite by MapBox',
            url: 'http://{s}.tiles.mapbox.com/v3/datamade.k92mcmc8/{z}/{x}/{y}.png',
            image: '/static/images/mapbox-satellite-tiles.png'
          },
          {
            name: 'Toner by Stamen',
            url: 'http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg',
            image: '/static/images/stamen-toner-tiles.png'
          },
          {
            name: 'Terrain by Stamen',
            url: 'http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg',
            image: '/static/images/stamen-terrain-tiles.png'
          }
        ];

        $.each(base_tile_sources, function(k, v){
          $("#base_tiles_list").append('\
            <div class="radio col-sm-5">\
                <label>\
                  <input type="radio" name="base_tiles_option" id="base_tiles_' + k + '" \
                    value="' + v.url + '" checked="checked"> ' + v.name + ' \
                    <br /><img src="' + v.image + '" class="img-responsive img-thumbnail" alt="' + v.name + '" />\
                </label>\
              </div>');
        });

        $('#base_tiles_0').prop("checked", true);

        // init map
        var map = L.map('map', { scrollWheelZoom: false }).setView([41.87467,-87.62627], 12);
        L.tileLayer('http://{s}.tiles.mapbox.com/v3/datamade.hnmob3j3/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);

        // Add in a crosshair for the map
        var crosshairIcon = L.icon({
            iconUrl: '/static/images/crosshair.png',
            iconSize:     [20, 20], // size of the icon
            iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
        });
        crosshair = new L.marker(map.getCenter(), {icon: crosshairIcon, clickable:false});
        crosshair.addTo(map);

        // Move the crosshair to the center of the map when the user pans
        map.on('move', function(e) {
            crosshair.setLatLng(map.getCenter());
            $("#center").val(crosshair.getLatLng().lng.toFixed(5) + "," + crosshair.getLatLng().lat.toFixed(5));
        });

        // click listener for download PDF button
        $("#submit-download").on("click", function(e){
          e.preventDefault();
          var params = {
            overlay_tiles: $("#overlay_tiles").val(),
            base_tiles: $("input:radio[name=base_tiles_option]:checked").val(),
            dimensions: $("#dimensions").val(),
            zoom: $("#zoom").val(),
            center: $('#center').val()
          }

          // console.log(params);
          // console.log($.param(params))

          var download_url = "/api?" + $.param(params)
          window.open(download_url)
        });
      });
    </script>

  </body>
</html>
