<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, width=640, minimum-scale=0.5">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lascaux - Print high resolution maps from the web</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.simplex.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/static/css/leaflet-areaselect.css" />
  </head>

  <body>
    <div class="container">
      <div class='col-md-12'>

        <h1>
          Lascaux
          <small>Print high resolution maps from the web</small>
        </h1>
        <hr />

        <form role="form">
          <div class="form-group">
            <label for="overlay_tiles" class="control-label">Data source</label>
            <div class='input-group'>
              <input type="text" class="form-control" id="overlay_tiles" placeholder="http://a.tiles.mapbox.com/v3/datamade.hnmob3j3/{z}/{x}/{y}.png">
              <span class="input-group-btn">
                <a href='#' id='add_overlay_tiles' class='btn btn-info'><i class='fa fa-plus-circle'></i> Add</a>
              </span>
            </div>
            <p class="help-block">URL to a TileJSON source</p>
          </div>
          <div class="form-group">
            <label for="dimensions" class="control-label">Paper size</label>
            <select class="form-control" id="dimensions">
              <option value='1275,1650'>Letter 8 1/2" by 11"</option>
              <option value='2550,3300'>Tabloid 11" x 17"</option>
            </select>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <h4>Select area</h4>
              <div id="map"></div>
            </div>
            <div class="col-sm-4">
              <h4>Print resolution</h4>
              <div id="map_detail"></div>
              <p>Your map will print with this level of detail. To adjust, change the zoom level above.</p>
              <hr />
              <p>
                <button id="submit-download" type="submit" class="btn btn-success btn-lg">
                  <i class='fa fa-download'></i>
                  Download map
                </button>
              </p>
              <p id="download-link"></p>
            </div>
          </div>
        </form>
        <div class='clearfix'></div>
        <br />

        <div class="footer">
          <p class='pull-right'>&copy; <a href='http://datamade.us'>DataMade</a> and <a href='http://lisc-chicago.org'>LISC Chicago</a> | <a href='https://github.com/datamade/lascaux'><i class='fa fa-github'></i> Pull requests welcome!</a></p>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="/static/js/leaflet-areaselect.js"></script>
    <script src="/static/js/analytics_lib.js"></script>

    <script>
      var map;
      var map_detail;
      var base_tiles = '';
      var base_tiles_detail;
      var overlay_tiles;
      var overlay_tiles_detail;
      var layers;
      var area_select;

      function getPrintBoxSize() {
        // calculations made assuming zoom level 17
        var detail_zoom_offset = map_detail.getZoom() - 17;
        var map_zoom = map.getZoom() - detail_zoom_offset;

        var width_constant = 0.009765625;
        var height_constant = 0.013671875;

        if ($("#dimensions").val() == '2550,3300') {
          var width_constant = 0.01953125;
          var height_constant = 0.025390625;
        }

        var width = Math.pow(2, map_zoom) * width_constant;
        var height = Math.pow(2, map_zoom) * height_constant;

        return [width, height]
      }

      function updatePrintBox() {
        if (area_select) 
          area_select.remove();
        
        area_select = L.areaSelect({ width:getPrintBoxSize()[0], height:getPrintBoxSize()[1], keepAspectRatio: true });
        area_select.addTo(map);
      }

      $(function() {

        var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';

        var mapbox_streets = L.tileLayer('https://{s}.tiles.mapbox.com/v3/datamade.hn83a654/{z}/{x}/{y}.png', 
          { attribution: attribution, detectRetina: true });

        var mapbox_satellite = L.tileLayer('https://{s}.tiles.mapbox.com/v3/datamade.k92mcmc8/{z}/{x}/{y}.png', 
          { attribution: attribution, detectRetina: true });

        var stamen_toner = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', 
          { attribution: attribution, detectRetina: true });

        var open_street_map = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
          { attribution: attribution, detectRetina: true });

        // init map
        map = L.map('map', { scrollWheelZoom: false }).setView([41.87467,-87.62627], 13);

        map_detail_options = {
          scrollWheelZoom: false,
          dragging: false,
          touchZoom: false,
          doubleClickZoom: false
        }
        map_detail = L.map('map_detail', map_detail_options).setView([41.87467,-87.62627], 17);
        
        var baseMaps = {"Toner by Stamen": stamen_toner,
                        "Streets by Mapbox": mapbox_streets, 
                        "Satellite by Mapbox": mapbox_satellite,
                        "Open Street Map": open_street_map
                      };

        stamen_toner.addTo(map);

        base_tiles_detail = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', 
          { attribution: attribution, detectRetina: true });
        base_tiles_detail.addTo(map_detail);
        base_tiles = stamen_toner._url;

        layers = L.control.layers(baseMaps, {}, { collapsed: false, autoZIndex: true }).addTo(map);

        // Add in a crosshair for the map
        var crosshairIcon = L.icon({
            iconUrl: '/static/images/crosshair.png',
            iconSize:     [20, 20], // size of the icon
            iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
        });
        crosshair = new L.marker(map.getCenter(), {icon: crosshairIcon, clickable:false});
        crosshair.addTo(map);
        updatePrintBox();

        // Move the crosshair to the center of the map when the user pans
        map.on('move', function(e) {
            crosshair.setLatLng(map.getCenter());
            map_detail.setView(map.getCenter());
        });

        map.on('baselayerchange', function(e) {
          base_tiles = e.layer._url;

          if (base_tiles_detail) {
            base_tiles_detail.setUrl(e.layer._url);
          }
        });

        map.on('zoomend', function(e) {
          updatePrintBox();
        });

        map_detail.on('zoomend', function(e) {
          updatePrintBox();
        });

        $("#dimensions").on("change", function(e){
          updatePrintBox();
        });

        $("#add_overlay_tiles").on("click", function(e){
          e.preventDefault();
          var load_tile_url = $("#overlay_tiles").val();

          if (load_tile_url) {
            if (overlay_tiles) {
              overlay_tiles.removeLayer(map);
              layers.removeLayer(overlay_tiles);
            }
            if (overlay_tiles_detail) {
              overlay_tiles_detail.removeLayer(map_detail);
            }

            overlay_tiles = L.tileLayer(load_tile_url, { detectRetina: true });
            overlay_tiles_detail = L.tileLayer(load_tile_url, { detectRetina: true });
            layers.addOverlay(overlay_tiles, "Data source");
            overlay_tiles.addTo(map);
            overlay_tiles_detail.addTo(map_detail, {autoZIndex: true} );
          }
        });

        // click listener for download PDF button
        $("#submit-download").on("click", function(e){
          e.preventDefault();
          var params = {
            overlay_tiles: $("#overlay_tiles").val(),
            base_tiles: base_tiles,
            dimensions: $("#dimensions").val(),
            zoom: map_detail.getZoom(),
            center: map.getCenter().lng + "," + map.getCenter().lat
          }

          var download_url = "/api?" + $.param(params)
          $("#download-link").html("<a class='btn btn-info' href='http://lascaux.datamade.us" + download_url + "'><i class='fa fa-link'></i> Link to this map</a>")
          window.open(download_url)
        });
      });
    </script>

  </body>
</html>
